{
  "semi": true,
  "singleQuote": true,
  "arrowParens": "avoid",
  "printWidth": 80,
  "tabWidth": 2,
  "trailingComma": "all",
  "jsxSingleQuote": true,
  "plugins": [
    "prettier-plugin-organize-imports",
    "prettier-plugin-tailwindcss"
  ],
  "endOfLine": "auto"
}
