@import 'tailwindcss';
@import 'tw-animate-css';

/* dark 디렉티브 설정 */
@custom-variant dark (&:where(.dark, .dark *));

/* fonts */
@font-face {
  font-family: 'Pretendard';
  src: url('./assets/fonts/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('./assets/fonts/Pretendard-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('./assets/fonts/Pretendard-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('./assets/fonts/Pretendard-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  /* 라이트 모드 */
  --primary: #5189fa;
  --primary-inactive: #94a3b8;
  --primary-hover: #416ec8;
  --primary-pressed: #3b63b5;
  --secondary: #eef3ff;
  --tertiary: #315296;
  --purple: #a855f7;
  --cyan: #06b6d4;
  --pink: #ec4899;
  --rose: #f43f5e;
  --orange: #f97316;
  --yellow: #eab308;

  --bg-primary: #ffffff;
  --bg-secondary: #f1f5f9;
  --bg-tertiary: #e2e8f0;
  --bg-inverse: #ffffff;

  --border-primary: #e2e8f0;

  --text-primary: #1e293b;
  --text-secondary: #334155;
  --text-tertiary: #0f172a;
  --text-default: #64748b;
  --text-inverse: #ffffff;

  --danger: #fc4b4b;

  --icon-primary: #64748b;
  --icon-secondary: #d1d5dc;
  --icon-inverse: #f8fafc;
  --icon-brand: #74a1fb;
}

.dark {
  /* 
   * 다크모드 설정
   - 라이트모드로 임의로 추가해뒀어요.
  */
  --primary: red;
  --primary-inactive: #94a3b8;
  --primary-hover: #416ec8;
  --primary-pressed: #3b63b5;
  --secondary: #eef3ff;
  --tertiary: #315296;
  --purple: #a855f7;
  --cyan: #06b6d4;
  --pink: #ec4899;
  --rose: #f43f5e;
  --orange: #f97316;
  --yellow: #eab308;

  --bg-primary: #ffffff;
  --bg-secondary: #f1f5f9;
  --bg-tertiary: #e2e8f0;
  --bg-inverse: #ffffff;

  --border-primary: #e2e8f0;

  --text-primary: #1e293b;
  --text-secondary: #334155;
  --text-tertiary: #0f172a;
  --text-default: #64748b;
  --text-inverse: #ffffff;

  --danger: #fc4b4b;

  --icon-primary: #64748b;
  --icon-secondary: #d1d5dc;
  --icon-inverse: #f8fafc;
  --icon-brand: #74a1fb;
}

@theme {
  /* breakpoints */
  --breakpoint-sm: 280px;
  --breakpoint-md: 640px;
  --breakpoint-lg: 1280px;

  /* font system */
  --text-4xl: 40px; /* font-size */
  --leading-4xl: 48px; /* line-height */

  --text-3xl: 32px;
  --leading-3xl: 38px;

  --text-2xl: 24px;
  --leading-2xl: 28px;

  --text-xl: 20px;
  --leading-xl: 24px;

  --text-2lg: 18px;
  --leading-2lg: 21px;

  --text-lg: 16px;
  --leading-lg: 19px;

  --text-md: 14px;
  --leading-md: 17px;

  --text-sm: 13px;
  --leading-sm: 16px;

  --text-xs: 12px;
  --leading-xs: 14px;

  --font-pretendard: 'Pretendard', sans-serif;

  /* shadow */
  --shadow-primary: 0 25px 50px 12px rgba(0, 0, 0, 0.25);

  /* colors
   * - 동적으로 테마값에 따라 색상을 적용하려면 css 변수로 적용 필요
  */
  --color-primary: var(--primary);
  --color-primary-inactive: var(--primary-inactive);
  --color-primary-hover: var(--primary-hover);
  --color-primary-pressed: var(--primary-pressed);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-purple: var(--purple);
  --color-cyan: var(--cyan);
  --color-pink: var(--pink);
  --color-rose: var(--rose);
  --color-orange: var(--orange);
  --color-yellow: var(--yellow);

  --color-bg-primary: var(--bg-primary);
  --color-bg-secondary: var(--bg-secondary);
  --color-bg-tertiary: var(--bg-tertiary);
  --color-bg-inverse: var(--bg-inverse);

  --color-border-primary: var(--border-primary);

  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-tertiary: var(--text-tertiary);
  --color-text-default: var(--text-default);
  --color-text-inverse: var(--text-inverse);

  --color-danger: var(--danger);

  --color-icon-primary: var(--icon-primary);
  --color-icon-secondary: var(--icon-secondary);
  --color-icon-inverse: var(--icon-inverse);
  --color-icon-brand: var(--icon-brand);

  --scrollbar-thumb: var(--color-gray-300);
  --scrollbar-track: transparent;
}

@layer base {
  * {
    @apply text-inherit outline-none;
  }
  body {
    @apply text-text-primary font-pretendard bg-bg-secondary has-[.view-white]:bg-bg-primary;
  }
  button {
    @apply cursor-pointer;
  }

  .card-common {
    @apply bg-bg-primary border-border-primary rounded-xl border;
  }

  /* 커스텀 스크롤바 */
  ::-webkit-scrollbar {
    /* 스크롤바 전체 영역 */
    width: 12px;
  }
  ::-webkit-scrollbar-thumb {
    /* 스크롤바 막대 영역 */
    background: var(--scrollbar-thumb); /* 스크롤바 막대 색상 */
    border: 2px solid transparent; /* 스크롤바 막대 테두리 설정  */
    background-clip: content-box; /* scroll thumb 영역 입력창 내부로 제한 */
    border-radius: 12px;
  }
  ::-webkit-scrollbar-track {
    /* 스크롤바 트랙 영역 */
    background: var(--scrollbar-track);
  }
  ::-webkit-scrollbar-button {
    /* 스크롤바 상하 버튼 */
    display: none;
  }

  /* 텍스트 드래그 색상 */
  ::selection {
    background-color: var(--color-primary);
    color: var(--color-white);
  }

  [data-sonner-toaster] {
    display: flex;
    justify-content: center;
    width: 100% !important;
  }
}

@layer utilities {
  .expand-bg-x {
    /* 모바일 양쪽 여백 확장하여 bg 적용*/
    @apply -mx-4 px-4 md:mx-auto md:px-0;
  }

  .custom-fade-in {
    animation: fade-in 0.2s ease-in-out;
  }

  @keyframes fade-in {
    0% {
      opacity: 0.2;
      transform: scale(1.05);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}
